.debug {
    * {
        box-shadow: 0 0 0 1px gray !important;
    }
    div {
        box-shadow: 0 0 0 1px red !important;
    }
    span {
        box-shadow: 0 0 0 1px green !important;
    }
    img {
        box-shadow: 0 0 0 1px blue !important;
    }
    ul {
        box-shadow: 0 0 0 1px orange !important;
    }
    li {
        box-shadow: 0 0 0 1px black !important;
    }
    a {
        box-shadow: 0 0 0 1px purple !important;
    }
    .fa {
        box-shadow: 0 0 0 1px #489fdf !important;
    }
    .row {
        border-bottom: 2px dashed black !important;
    }
    .wrapper {
        box-shadow: 0 0 0 1px lightgray !important;
    }
    canvas {
        box-shadow: 0 0 0 1px #C7854B !important;
    }
}
