-//include  ../../node_modules/pug-bootstrap/_bootstrap
include ./mixins.pug

doctype html
html
    head
        include head
    body
        -//+navbar('navbar', 'navigation', '', '')
        block content
